@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Info on application</p>
<div>
    <p>Contact:</p>
    <p><a href="mailto:hello@hellotanda.com">email</a></p>
    <p><a href="https://instagram.com/hellotanda">insta - hellotanda</a></p>
</div>
