@page
@model PrivacyModel
@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>
<hr/>
<div>
    <h6>Contact</h6>
    <p>Mail Me Feedback: <a href="mailto:hello@hellotanda.com">here!</a></p>
    <p>
        <a href="https://twitter.com/hellotanda"><img src="https://cdn3.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-03-512.png" alt="Twitter!" width="42" height="42" border="0"></a>
        <a href="https://instagram.com/hellotanda"><img src="https://cdn3.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-04-512.png" alt="Instagram" width="42" height="42" border="0"></a>
    </p><br/>
        <small>S/O to my Azure free credits for making this web app possible, visual studio and dem man ther</small>

</div>

